* {
    max-width: 100%;
}

body, html {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

:root {
    --color01: #000000;
    --color02: #FFFFFF;
}

label.error {
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: red;
}

.width-config {
    width: 500px;
    max-width: 100%;
}

.card {
    padding: 25px;
}

h2 {
    font-size: 24px;
    margin: 0;
    display: block;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

.bye {
    animation: bye infinite 2s ease
}

@keyframes bye {
    0% {
        transform: rotate(-15deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-15deg);
    }


}